.stack1,.stack2,.stack3,.stack4{
    display: inline-flex;
    margin: 60px;
    width: 200px;
    height: 100px;
    position: relative;

}
.card1{
    background-color: red;
    width: 100%;
    min-height: 40%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-size: 10rem;
    transition: transform 200ms;
    animation: swap 700ms forward;
}
.card2{
    background-color: blue;
    width: 100%;
    min-height: 40%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-size: 10rem;
    transition: transform 200ms;

}
.card3{
    background-color: green;
    width: 100%;
    min-height: 40%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-size: 10rem;
    transition: transform 200ms;
}

.card4{
    background-color: black;
    width: 100%;
    min-height: 40%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-size: 10rem;
    transition: transform 200ms;
}
.card1:nth-last-child(1){
    --y: calc(-50% + 15px);
    transform: translate(-50%, var(--y)) scale(1.20);
}
 .card1:nth-last-child(2){
    --y: calc(-50% );
    transform: translate(-50%,var(--y)) scale(1.15);
}
.card1:nth-last-child(3){
    --y: calc(-50%-15px);
    transform: translate(-50%,var(--y)) scale(1.10);
}
.card1:nth-last-child(4){
    --y: calc(-50%+30px);
    transform: translate(-50%,var(--y)) scale(1.05);
}
.card1:nth-last-child(5){
    --y: calc(-50%-30px);
    transform: translate(-50%,var(--y) scale(0.95));
}
.card1:nth-last-child(6){
    --y: calc(-50%-45px);
    transform: translate(-50%,var(--y)) scale(0.9);
}
.card1:nth-last-child(7){
    --y: calc(-50%-60px);
    transform: translate(-50%,var(--y)) scale(0.85);
}
.card1:nth-last-child(n+8){
    --y: calc(-50%-75px);
    transform: translate(-50%,var(--y)) scale(0.8);
}

.card2:nth-last-child(1){
    --y: calc(-50% + 15px);
    transform: translate(-50%, var(--y)) scale(1.20);
}
 .card2:nth-last-child(2){
    --y: calc(-50% );
    transform: translate(-50%,var(--y)) scale(1.15);
}
.card2:nth-last-child(3){
    --y: calc(-50%-15px);
    transform: translate(-50%,var(--y)) scale(1.10);
}
.card2:nth-last-child(4){
    --y: calc(-50%+30px);
    transform: translate(-50%,var(--y)) scale(1.05);
}
.card2:nth-last-child(5){
    --y: calc(-50%-30px);
    transform: translate(-50%,var(--y) scale(0.95));
}
.card2:nth-last-child(6){
    --y: calc(-50%-45px);
    transform: translate(-50%,var(--y)) scale(0.9);
}
.card2:nth-last-child(7){
    --y: calc(-50%-60px);
    transform: translate(-50%,var(--y)) scale(0.85);
}
.card2:nth-last-child(n+8){
    --y: calc(-50%-75px);
    transform: translate(-50%,var(--y)) scale(0.8);
}

.card3:nth-last-child(1){
    --y: calc(-50% + 15px);
    transform: translate(-50%, var(--y)) scale(1.20);
}
 .card3:nth-last-child(2){
    --y: calc(-50% );
    transform: translate(-50%,var(--y)) scale(1.15);
}
.card3:nth-last-child(3){
    --y: calc(-50%-15px);
    transform: translate(-50%,var(--y)) scale(1.10);
}

.card3:nth-last-child(4){
    --y: calc(-50%-15px);
    transform: translate(-50%,var(--y)) scale(1);
}
.card3:nth-last-child(5){
    --y: calc(-50%-30px);
    transform: translate(-50%,var(--y) scale(0.95));
}
.card3:nth-last-child(6){
    --y: calc(-50%-45px);
    transform: translate(-50%,var(--y)) scale(0.9);
}
.card3:nth-last-child(7){
    --y: calc(-50%-60px);
    transform: translate(-50%,var(--y)) scale(0.85);
}
.card3:nth-last-child(n+8){
    --y: calc(-50%-75px);
    transform: translate(-50%,var(--y)) scale(0.8);
}

.card4:nth-last-child(1){
    --y: calc(-50% + 15px);
    transform: translate(-50%, var(--y)) scale(1.20);
}
 .card4:nth-last-child(2){
    --y: calc(-50% );
    transform: translate(-50%,var(--y)) scale(1.15);
}
.card4:nth-last-child(3){
    --y: calc(-50%-15px);
    transform: translate(-50%,var(--y)) scale(1.10);
}
.card4:nth-last-child(4){
    --y: calc(-50%-15px);
    transform: translate(-50%,var(--y)) scale(1);
}
.card4:nth-last-child(5){
    --y: calc(-50%-30px);
    transform: translate(-50%,var(--y) scale(0.95));
}
.card4:nth-last-child(6){
    --y: calc(-50%-45px);
    transform: translate(-50%,var(--y)) scale(0.9);
}
.card4:nth-last-child(7){
    --y: calc(-50%-60px);
    transform: translate(-50%,var(--y)) scale(0.85);
}
.card4:nth-last-child(n+8){
    --y: calc(-50%-75px);
    transform: translate(-50%,var(--y)) scale(0.8);
}

